/* Custom */


@import url('https://fonts.googleapis.com/css2?family=VT323&family=Gloria+Hallelujah&family=Great+Vibes&family=Tangerine:wght@400;700&display=swap');


/* ------------- PC Sheet styling -------------  */

/* Main ui PC styling */
.quote_table { border: 0px solid #854A4A; color: #854A4A; }
.header_block { background: #854A4A; color: #F1E4CA; border: 0px solid #854A4A;}
.header_font > a {color: #F1E4CA;}

/* Generic font color */
.font-color {color:#854A4A; }

/* PC stat page stylings */
.tab_content_background { border:0px solid #854A4A; background: #D0CDBF;}
.tab_content_background > table { border:2px solid #854A4A;}
.tab_content_background > table > tbody > tr > td { padding-left:0px ; padding-right: 0px; padding-top: 0px;}
.nav_header_bar > nav { background: #854A4A; color: #F1E4CA; margin:0px;}
.tab_background {border:0px solid #854A4A; background: #D0CDBF;margin: 0px;}
.tab_background > table {background: rgba(0, 0, 0, 0.00); border:0px; padding-left:0px;}
.tab_background > table > tbody > tr > td  {padding-left:0px;padding-top: 0px;}
.tab_content { border-top: 1px solid #4C0F0F; border-bottom: 1px solid #4C0F0F; background: #F1E4CA; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 0px; margin-top: 5px}
.tab_content > table { border: 0px solid #4C0F0F; background: #F1E4CA; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 0px;}
.hidding-mod-atr {color:#F1E4CA;}

/* Item page tab stylings */
.nav_item_header_bar > nav { 
	font-weight: 900; 
	font-family: "Font Awesome 6 Pro"; 
	-webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    color:#854A4A;
}

/* PC gray table color */
.alt_background {background : #E5E3D9; border-top:1px solid #854A4A; border-bottom:1px solid #854A4A; margin-top: 10px; margin-bottom: 10px;}
.alt_background_left {border-left:1px solid #854A4A;}
.alt_background_right {border-right:1px solid #854A4A;}
.alt_background > table {margin-top: 0px; margin-bottom: 0px;}

/* Table styling */
.table_style > table {border:0px;margin-top:0px; margin-bottom:0px; padding:0px;}
.table_style > table > tbody > tr > td {padding-left:0px}
.border-right > table {border-right: 1px solid #854A4A;}
.border-left > table {border-left: 1px solid #854A4A;}

/* Ritual section styling */
.alt_background_ritual {background : #E5E3D9; border-top:1px solid #854A4A; border-bottom:1px solid #854A4A; margin-top: 10px; margin-bottom: 10px;}
.section-border { border-top: 2px solid #854A4A; border-bottom: 2px solid #854A4A; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 10px; margin-top: 0px}
.verses-section { border-top: 2px solid #854A4A; border-bottom: 2px solid #854A4A; background: #F1E4CA; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 0px; margin-top: 5px; margin-bottom: 5px}
.section-border-light {background-color: rgba(255, 255, 255, 0.2); margin-top: 0px; margin-bottom: 0px;padding-top: 5px; padding-bottom: 5px;}
.ritual-section-header > table {border:0px; border-right: 1px solid #854A4A; background: rgba(0, 0, 0, 0.05); margin:0px;}

/* Project section */
.project_details_table {border: 1px solid; margin: 10px; text-align: center;}


/* Zero power table styling */
.alt_background_zero {border-top:1px solid #854A4A; border-bottom:1px solid #854A4A;}
.alt_background_zero > table {margin-top: 0px; margin-bottom: 0px; border: 0px}
.alt_background_zero > table  > tbody > tr > td {background-color: rgba(255, 255, 255, 0.2);}
.alt_background_zero_panel {background: #E5E3D9; margin-top: 10px; margin-bottom: 10px; border-top: 1px solid #854A4A;border-bottom: 1px solid #854A4A;}
.alt_background_zero_panel > div {margin-top:0px; margin-bottom:0px}

/* Buff/Debuff section styling  */
.label-styling {border: 2px solid #854A4A;background: #F1E4CA;}
.margin-bottom > table {margin-bottom: 0px;}


/* Mechanic mounting button styling  */
.mech_button input[type="checkbox"] {
	width: 265px;
    height: 62px;
    flex: 0 0 265px;
    appearance: initial;
    background: url(https://i.imgur.com/SXaWQe2.png);
    background-size: cover;
    box-shadow: none;
    cursor: pointer;
 }

.mech_button input[type="checkbox"]:checked {
	width: 265px;
    height: 62px;
    flex: 0 0 265px;
    appearance: initial;
    background: url(https://i.imgur.com/t75TCRB.png) !important;
    background-size: cover !important;
    -webkit-filter: none !important;
    box-shadow: none;
    cursor: pointer;
}



/* ------------- NPC Sheet styling -------------  */

/* Main ui NPC styling */
.npc_quote_table { border: 0px solid #854A4A; color: #43436a; }
.npc_header_block { background: #43436a; color: #68c2d3; border: 0px solid #43436a;}
.npc_header_font > a {color: #68c2d3;}

/* NPC stat page stylings */
.npc_tab_content_background { border:0px solid #43436a; background: #D0CDBF;}
.npc_tab_content_background > table { border:2px solid #43436a;}
.npc_tab_content_background > table > tbody > tr > td { padding-left:0px ; padding-right: 0px; padding-top: 0px;}
.npc_nav_header_bar > nav { background: #43436a; color: #68c2d3; margin:0px;}
.npc_tab_background {border:0px solid #854A4A; background: #D0CDBF;margin: 0px;}
.npc_tab_background > table {background: rgba(0, 0, 0, 0.00); border:0px; padding-left:0px;}
.npc_tab_background > table > tbody > tr > td  {padding-left:0px;padding-top: 0px;}
.npc_tab_content { border-top: 1px solid #43436a; border-bottom: 1px solid #43436a; background: #e3f5ee; color:#43436a; margin-left: 0px; margin-right: 0px; padding: 0px; margin-top: 5px}
.margin-top-styling {margin-top:10px;}
.npc_tab_content > table { border: 0px solid #4C0F0F; background:#e3f5ee; color:#43436a; margin-left: 0px; margin-right: 0px; padding: 0px;}
.npc-label-styling {border: 2px solid #43436a;background: #ecf8f4;}
.npc-hidding-mod-atr {color:#e3f5ee;}

/* NPC gray table color */
.npc_alt_background {background : #ecf8f4; border-top:1px solid #43436a; border-bottom:1px solid #43436a; margin-top: 10px; margin-bottom: 10px; color:#43436a;}
.npc_alt_background > table {margin-top: 0px; margin-bottom: 0px;}

/* Generic font color */
.npc-font-color {color:#43436a;}

/* NPC combat section */
.npc_alt_background_combat {background : #daf1e9; border-top:1px solid #43436a; border-bottom:1px solid #43436a; margin-top: 10px; margin-bottom: 10px;}


/* ------------- Item Sheet styling -------------  */
.item_alt_background {background : #fafffa; border-top:1px solid #279123; border-bottom:1px solid #279123; margin-top: 10px; margin-bottom: 10px; color:#022e00;}
.item_alt_background > table {margin-top: 0px; margin-bottom: 0px; color:#022e00;}
.item_alt_background > table > tbody > tr > td:first-child {padding-right:10px;}
.item_no_padding > select {padding:0px} 

/* ------------- Item Sheet styling -------------  */
.contact_background {background : #ffe8e6; border-top:1px solid #e03e2d; border-bottom:1px solid #e03e2d; margin-top: 10px; margin-bottom: 10px; color:#9e1408;}
.contact_background > table {margin-top: 0px; margin-bottom: 0px; color:#9e1408;}
.contact_padding > select {padding:0px}

/* ------------- Chat Sheet styling -------------  */

.chat-padding {padding:3px;}
.npc_chat_card {background : rgba(235, 247, 243, 0.502) ; border-top:1px solid #43436a; border-bottom:1px solid #43436a; margin-top: 10px; margin-bottom: 10px; color:#43436a;}
.npc_chat_card > table {margin-top: 0px; margin-bottom: 0px;}
.pc_chat_card {background : rgba(242, 229, 203, 0.502); border-top:1px solid #854A4A; border-bottom:1px solid #854A4A; margin-top: 10px; margin-bottom: 10px;}
.item_chat_card {background : rgba(250, 255, 250, 0.9); border-top:1px solid#279123; border-bottom:1px solid #279123; margin-top: 10px; margin-bottom: 10px;}
.item_chat_card > table {margin-top: 0px; margin-bottom: 0px;}
.damage_chat_card {text-align: center; padding-right: 5px;}



/* Solid border */
hr.solid {
  border-top: 3px solid #854A4A;
}
   

/* Override */

.custom-system-actor nav.sheet-tabs {
	margin:0px;
	border: none;
}

.custom-system-dynamic-table-row-icons {
	padding-right: 10px;
}

.table td {
	padding-left:0px;
}

table td:first-child {
	padding-left:5px;
}

.table tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.0);
}

.blockquote {
	border-left: 3px solid #ddd;
}


.window-app .window-content, .sheet.journal-entry .journal-entry-content {
	background-image: url(https://i.imgur.com/fM9uRk8.jpg);
    background-size: cover;;
}

.custom-system-cell {
	padding-left:0px;
	padding-right:0px;
}

.custom-system-panel {
	margin-left: 0px;
	margin-right: 0px;
}

.custom-system-dynamic-table-row-icons {
	padding-left:5px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"], input[type="color"], input[type="color"][data-edit], select {
	background: rgba(241, 228, 202, 0.5);
	border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input[type="checkbox"] {
	box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
}

.chat-message {
	background-image: url(https://i.imgur.com/fM9uRk8.jpg);
    background-size: cover;
}

#template, input[name="name"] {
	border: none;
    outline: none;
    border-bottom: 1px solid #353935;
    background: transparent;
    color: #353935;
    box-shadow: none;
}

.sheet header.sheet-header h1 input {
	height: 100%;
	margin: 20px 2%;
	box-shadow: none;

}


.cinzel {
	font-family: 'Cinzel', cursive;
}

.charname {
	text-align: center;     
	font-size: 80px;
    font-family: 'Tangerine', cursive;
}

.itemname {
	text-align: center;     
	font-size: 50px;
    font-family: 'Great Vibes', cursive;
}


a.content-link {
    background: none;
    border: none;
}

.custom-system-item-container-image {
    object-fit: contain;
    max-width: 35px;
    max-height: 35px;
    margin-right: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
    border: none;
    transition: all .3s ease-in-out;
}

.custom-system-item-container-image:hover {
    transform: scale(2);
    margin-right: 20px;
}

/* Attribute icon and font styling */

.life-icon, .mana-icon, .ip-icon, .fp-icon, .init-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.life-icon {
	background-image: url('https://i.imgur.com/bQgsdeb.png');
}

.mana-icon {
	background-image: url('https://i.imgur.com/72W8FoU.png');
}

.ip-icon {
	background-image: url('https://i.imgur.com/ZoZdUUd.png');
}

.fp-icon {
	background-image: url('https://i.imgur.com/NpaNy0W.png');
}

.init-icon {
	background-image: url('https://i.imgur.com/Up5wRO7.png');
}

.char-attribute-text {
	font-family: 'VT323', monospace;
	font-size: 35px;
	text-align: left;
	margin-left:-30px;
}


/* Override text/select field color styling for PC stat page */
.alt_text_field_background > input {background : rgba(230, 228, 218, 0.6); text-align: center;}
.alt_text_field_background  #current_ip {background : rgba(230, 228, 218, 0.6); text-align: center;}
.alt_text_field_background  #fp {background : rgba(230, 228, 218, 0.6); text-align: center;}
.alt_text_field_background > select {background : rgba(230, 228, 218, 0.6); padding: 0px; text-align: center;}
.alt_text_field_background > span > input {background : rgba(230, 228, 218, 0.6); text-align: center;;}

/* Override text/select field color styling for NPC stat page*/
.npc_alt_text_field_background > input {background : rgba(235, 247, 243, 0.4); text-align: center;}
.npc_alt_text_field_background  #current_ip {background : rgba(235, 247, 243, 0.4); text-align: center;}
.npc_alt_text_field_background  #fp {background : rgba(235, 247, 243, 0.4); text-align: center;}
.npc_alt_text_field_background > select {background : rgba(235, 247, 243, 0.4); padding: 0px; text-align: center;}
.npc_alt_text_field_background > span > input {background : rgba(235, 247, 243, 0.4); text-align: center;}

.main_attribute_field_background > span > input {background : rgba(235, 247, 243, 0.2); text-align: center;}
.main_attribute_field_background > input {background : rgba(235, 247, 243, 0.2); text-align: center;}

.align-left > input { text-align: left; }
.align-center > select {text-align: center;}
.align-center > input {text-align: center;}
.align-center > span > input {text-align: center;}

.no-margin {
	margin-left:0px;
}

