/* Custom */

/* Foundry background color*/
.white_background { background: #F7FAF5}

/* ------------- PC Sheet styling -------------  */

/* Main ui PC styling */
.quote_table { border: 0px solid #854A4A; color: #854A4A; }
.header_block { background: #854A4A; color: #F1E4CA; border: 0px solid #854A4A;}
.header_font > a {color: #F1E4CA;}

/* Generic font color */
.font-color {color:#854A4A;}

/* PC stat page stylings */
.tab_content_background { border:0px solid #854A4A; background: #D0CDBF;}
.tab_content_background > table { border:2px solid #854A4A;}
.tab_content_background > table > tbody > tr > td { padding-left:0px ; padding-right: 0px; padding-top: 0px;}
.nav_header_bar > nav { background: #854A4A; color: #F1E4CA; margin:0px;}
.tab_background {border:0px solid #854A4A; background: #D0CDBF;margin: 0px;}
.tab_background > table {background: rgba(0, 0, 0, 0.00); border:0px; padding-left:0px;}
.tab_background > table > tbody > tr > td  {padding-left:0px;padding-top: 0px;}
.tab_content { border-top: 1px solid #4C0F0F; border-bottom: 1px solid #4C0F0F; background: #F1E4CA; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 0px; margin-top: 5px}
.tab_content > table { border: 0px solid #4C0F0F; background: #F1E4CA; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 0px;}
.hidding-mod-atr {color:#F1E4CA;}


/* PC gray table color */
.alt_background {background : #E5E3D9; border-top:1px solid #854A4A; border-bottom:1px solid #854A4A; margin-top: 10px; margin-bottom: 10px;}
.alt_background > table {margin-top: 0px; margin-bottom: 0px;}

/* Table styling */
.table_style > table {border:0px;margin-top:0px; margin-bottom:0px; padding:0px;}
.border-right > table {border-right: 1px solid #854A4A;}
.border-left > table {border-left: 1px solid #854A4A;}

/* Ritual section styling */
.alt_background_ritual {background : #E5E3D9; border-top:1px solid #854A4A; border-bottom:1px solid #854A4A; margin-top: 10px; margin-bottom: 10px;}
.section-border { border-top: 2px solid #854A4A; border-bottom: 2px solid #854A4A; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 10px; margin-top: 0px}
.verses-section { border-top: 2px solid #854A4A; border-bottom: 2px solid #854A4A; background: #F1E4CA; color:#854A4A; margin-left: 0px; margin-right: 0px; padding: 0px; margin-top: 5px; margin-bottom: 5px}
.section-border-light {background-color: rgba(255, 255, 255, 0.2); margin-top: 0px; margin-bottom: 0px;}
.ritual-section-header > table {border:0px; border-right: 1px solid #854A4A; background: rgba(0, 0, 0, 0.05); margin:0px;}


/* Zero power table styling */
.alt_background_zero {border-top:1px solid #854A4A; border-bottom:1px solid #854A4A;}
.alt_background_zero > table {margin-top: 0px; margin-bottom: 0px; border: 0px}
.alt_background_zero > table  > tbody > tr > td {background-color: rgba(255, 255, 255, 0.2);}
.alt_background_zero_panel {background: #E5E3D9; margin-top: 10px; margin-bottom: 10px; border-top: 1px solid #854A4A;border-bottom: 1px solid #854A4A;}
.alt_background_zero_panel > div {margin-top:0px; margin-bottom:0px}

/* Buff/Debuff section styling  */
.label-styling {border: 2px solid #854A4A;background: #F1E4CA;}
.margin-bottom > table {margin-bottom: 0px;}

/* ------------- NPC Sheet styling -------------  */

/* Main ui NPC styling */
.npc_quote_table { border: 0px solid #854A4A; color: #43436a; }
.npc_header_block { background: #43436a; color: #68c2d3; border: 0px solid #43436a;}
.npc_header_font > a {color: #68c2d3;}

/* NPC stat page stylings */
.npc_tab_content_background { border:0px solid #43436a; background: #D0CDBF;}
.npc_tab_content_background > table { border:2px solid #43436a;}
.npc_tab_content_background > table > tbody > tr > td { padding-left:0px ; padding-right: 0px; padding-top: 0px;}
.npc_nav_header_bar > nav { background: #43436a; color: #68c2d3; margin:0px;}
.npc_tab_background {border:0px solid #854A4A; background: #D0CDBF;margin: 0px;}
.npc_tab_background > table {background: rgba(0, 0, 0, 0.00); border:0px; padding-left:0px;}
.npc_tab_background > table > tbody > tr > td  {padding-left:0px;padding-top: 0px;}
.npc_tab_content { border-top: 1px solid #43436a; border-bottom: 1px solid #43436a; background: #e3f5ee; color:#43436a; margin-left: 0px; margin-right: 0px; padding: 0px; margin-top: 5px}
.margin-top-styling {margin-top:10px;}
.npc_tab_content > table { border: 0px solid #4C0F0F; background:#e3f5ee; color:#43436a; margin-left: 0px; margin-right: 0px; padding: 0px;}
.npc-label-styling {border: 2px solid #43436a;background: #ecf8f4;}
.npc-hidding-mod-atr {color:#e3f5ee;}

/* NPC gray table color */
.npc_alt_background {background : #ecf8f4; border-top:1px solid #43436a; border-bottom:1px solid #43436a; margin-top: 10px; margin-bottom: 10px; color:#43436a;}
.npc_alt_background > table {margin-top: 0px; margin-bottom: 0px;}

/* Generic font color */
.npc-font-color {color:#43436a;}

/* NPC combat section */
.npc_alt_background_combat {background : #daf1e9; border-top:1px solid #43436a; border-bottom:1px solid #43436a; margin-top: 10px; margin-bottom: 10px;}


/* Solid border */
hr.solid {
  border-top: 3px solid #854A4A;
}
   

/* Override */

.custom-system-actor nav.sheet-tabs {
	margin:0px;
	border: none;
}


.table td {
	padding-left:0px;
}

table td:first-child {
	padding-left:0px;
}

.table tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.0);
}

.blockquote {
	border-left: 3px solid #ddd;
}


.window-app .window-content, .sheet.journal-entry .journal-entry-content {
	background: #FFFFFF;
}

.custom-system-cell {
	padding-left:0px;
	padding-right:0px;
}

.custom-system-panel {
	margin-left: 0px;
	margin-right: 0px;
}

.custom-system-dynamic-table-row-icons {
	padding-left:5px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"], input[type="color"], input[type="color"][data-edit], select {
	background: #F1E4CA;
	

}


/* Override text/select field color styling for PC stat page*/
.alt_text_field_background > input {background : #E5E3D9;}
.alt_text_field_background  #current_ip {background : #E5E3D9;}
.alt_text_field_background  #fp {background : #E5E3D9;}
.alt_text_field_background > select {background : #E5E3D9; padding: 0px;}
.alt_text_field_background > span > input {background : #E5E3D9;}

/* Override text/select field color styling for NPC stat page*/
.npc_alt_text_field_background > input {background : #ecf8f4;}
.npc_alt_text_field_background  #current_ip {background : #ecf8f4;}
.npc_alt_text_field_background  #fp {background : #ecf8f4;}
.npc_alt_text_field_background > select {background : #ecf8f4; padding: 0px;}
.npc_alt_text_field_background > span > input {background : #ecf8f4;}



